name: Publish to npm

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  changelog:
    uses: ./.github/workflows/changelog.yml

  release:
    needs: changelog
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Publish release
        uses: softprops/action-gh-release@v2
        with:
          body: ${{ needs.changelog.outputs.changelog }}
          make_latest: true

  publish:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Publish to npm
        run: bun publish --access public
        env:
          NPM_CONFIG_TOKEN: ${{ secrets.NPM_TOKEN }}
